.navbar {
    background-color: blue;
    display:flex;
    align-items: center;
    padding: 10px;
}

.navbar h2{
    margin-left: -300px;
}

button{
    border: none;
    background-color: blue;
    color:white;
}

.navbar .image {
    image-resolution: 10px;
    width: 80px;
    height: 50px;
    margin-left: -500px; 
    
} 
